:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
body {

    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:var(--slate);
    background-color: var(--white);
}


/* nagłówki/text*/

.main-header{
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--white);
    text-align: center;
}

.second-header {
    font-size: 36px;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    line-height: 1.11; 
    text-align: center;
    text-transform: capitalize;

}

.third-header{
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    line-height: 1.2;
    font-weight: 500;
    

}
.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
        
}
.text-footer{
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* sekcje */
.first-section{
    background-color:var(--navy-blue)
}
.third-section{
    background-color: var(--cloud);
}
/* logo  */
.logo{
   color: var(--iris);
   font-family:'Raleway', sans-serif;
   font-weight: 700;
   font-size: 18px;
   letter-spacing: 0.03em;
   line-height: 1.17;
   text-transform: uppercase;

}
span{
   color: var(--navy-blue);

}
.span-bottom{
   color:var(--cloud);
}
/* linki */
.clear-underline{
    text-decoration: none;

}
.link-list{
    color:var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;


}
.link-list:hover,
.link-list:focus{
    color: var(--ocean);
}


/* list */
.list{
    list-style: none;
}
.images-list{
    background-color: var(--white);
}
/* adress */
.adres-list{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-style: normal;
}
.adres-link{
    color: var(--slate);

}
.adres-link:hover,
.adres-link:focus{
    color: var(--ocean);
}


/* przyciski */
.button{
    background-color:var(--iris);
    font-family:'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
}
.button:hover{
    background-color: var(--ocean);
}
.button:focus{
    background-color: var(--ocean);
}
/* foter */
.footer{
    background-color:var(--navy-blue);
}

